@page
@model MyScriptureJournal.Pages.MyJournal.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JournalEntry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JournalEntry.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JournalEntry.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JournalEntry.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JournalEntry.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JournalEntry.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JournalEntry.Book)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JournalEntry.EntryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JournalEntry.EntryDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="JournalEntry.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
